.content.container
    h1.cont-title Медицинские справки в Москве и МО
    .cont-text
        p Медицинская справка является официальным документом, содержащим краткую информацию о состоянии здоровья человека, в том числе сведения о перенесённых заболеваниях и прививках. Мед справки необходимы при поступлении на работу или учебу, для посещения бассейна и спортивных секций, для получения или замены водительского удостоверения и ещё в целом ряде случаев. Выдаются такие справки в медицинских учреждениях после прохождения врачебной комиссии.

.ourfillials.container
    .ourfillials__column
        .ourfillials__img
            img(src="img/metro.png" width="441" height="546")

    .ourfillials__column
        .fillial-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .fillial-slider__item
                        .fillial-slider__img
                            img(src="img/sl-1.jpg")

                        ul.fillial-list
                            li
                                .fillial-list__icon
                                    img(src="img/metr-icon-red.png" width="32" height="32")
                                a(href="#") Бульвар Рокоссовского
                            li
                                .fillial-list__icon
                                    img(src="img/location-pin.png" width="20" height="20")
                                span Москва, ул. Ивантеевская, 21
                            li
                                .fillial-list__icon
                                    img(src="img/clock-icon.png" width="20" height="20")
                                span Пн-Сб: 9:00 - 20:00, <br>Вс: 10:00 - 19:00
                .swiper-slide
                    .fillial-slider__item
                        .fillial-slider__img
                            img(src="img/sl-2.jpg")

                        ul.fillial-list
                            li
                                .fillial-list__icon
                                    img(src="img/metr-icon-red.png" width="32" height="32")
                                a(href="#") Бульвар Рокоссовского
                            li
                                .fillial-list__icon
                                    img(src="img/location-pin.png" width="20" height="20")
                                span Москва, ул. Ивантеевская, 21
                            li
                                .fillial-list__icon
                                    img(src="img/clock-icon.png" width="20" height="20")
                                span Пн-Сб: 9:00 - 20:00, <br>Вс: 10:00 - 19:00
                .swiper-slide
                    .fillial-slider__item
                        .fillial-slider__img
                            img(src="img/sl-3.jpg")

                        ul.fillial-list
                            li
                                .fillial-list__icon
                                    img(src="img/metr-icon-red.png" width="32" height="32")
                                a(href="#") Бульвар Рокоссовского
                            li
                                .fillial-list__icon
                                    img(src="img/location-pin.png" width="20" height="20")
                                span Москва, ул. Ивантеевская, 21
                            li
                                .fillial-list__icon
                                    img(src="img/clock-icon.png" width="20" height="20")
                                span Пн-Сб: 9:00 - 20:00, <br>Вс: 10:00 - 19:00
                .swiper-slide
                    .fillial-slider__item
                        .fillial-slider__img
                            img(src="img/sl-4.jpg")

                        ul.fillial-list
                            li
                                .fillial-list__icon
                                    img(src="img/metr-icon-red.png" width="32" height="32")
                                a(href="#") Бульвар Рокоссовского
                            li
                                .fillial-list__icon
                                    img(src="img/location-pin.png" width="20" height="20")
                                span Москва, ул. Ивантеевская, 21
                            li
                                .fillial-list__icon
                                    img(src="img/clock-icon.png" width="20" height="20")
                                span Пн-Сб: 9:00 - 20:00, <br>Вс: 10:00 - 19:00
                .swiper-slide
                    .fillial-slider__item
                        .fillial-slider__img
                            img(src="img/sl-1.jpg")

                        ul.fillial-list
                            li
                                .fillial-list__icon
                                    img(src="img/metr-icon-red.png" width="32" height="32")
                                a(href="#") Бульвар Рокоссовского
                            li
                                .fillial-list__icon
                                    img(src="img/location-pin.png" width="20" height="20")
                                span Москва, ул. Ивантеевская, 21
                            li
                                .fillial-list__icon
                                    img(src="img/clock-icon.png" width="20" height="20")
                                span Пн-Сб: 9:00 - 20:00, <br>Вс: 10:00 - 19:00

            .swiper-pagination

            .swiper-button-next
            .swiper-button-prev

.refinfoblock
    .refinfo
        .refinfo__column
            .refinfo__title Справки для ГИБДД
            .refinfo__img
                img(src="img/ph-1.jpg" width="150" height="150")
            .refinfo__price от 1 200 руб.

        .refinfo__column
            table.reftable
                thead
                    tr
                        th Наименование справки
                        th Цена, руб.
                tbody
                    tr
                        td
                            a(href="#").reftable__link Справка для ГИБДД (форма 003-В/у) для категории А, В
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 1 200
                    tr
                        td
                            a(href="#").reftable__link Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 500
                    tr
                        td
                            a(href="#").reftable__link Справка для ГИБДД (форма 003-В/у) для категории С, D, E с электроэнцефалограммой + нарколог и психиатр
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 800

            .show-more
                a(href="#") Все справки для учебы


    .refinfo
        .refinfo__column
            .refinfo__title Справки для работы
            .refinfo__img
                img(src="img/ph-2.jpg" width="150" height="150")
            .refinfo__price от 1 200 руб.

        .refinfo__column
            table.reftable
                thead
                    tr
                        th Наименование справки
                        th Цена, руб.
                tbody
                    tr
                        td
                            a(href="#").reftable__link Справка для работы и учебы 086/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 1 800
                    tr
                        td
                            a(href="#").reftable__link Медицинская справка для госслужбы 001-ГС/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 500
                    tr
                        td
                            a(href="#").reftable__link Медицинская справка для работы с гостайной (форма 989н)
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 800
                    tr
                        td
                            a(href="#").reftable__link Справка для работы и учебы 086/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 800

            .show-more
                a(href="#") Все справки для учебы


    .refinfo
        .refinfo__column
            .refinfo__title Справки для спорта
            .refinfo__img
                img(src="img/ph-3.jpg" width="150" height="150")
            .refinfo__price от 1 200 руб.

        .refinfo__column
            table.reftable
                thead
                    tr
                        th Наименование справки
                        th Цена, руб.
                tbody
                    tr
                        td
                            a(href="#").reftable__link Справка для работы и учебы 086/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 1 800
                    tr
                        td
                            a(href="#").reftable__link Медицинская справка для госслужбы 001-ГС/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 500
                    tr
                        td
                            a(href="#").reftable__link Медицинская справка для работы с гостайной (форма 989н)
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 800
                    tr
                        td
                            a(href="#").reftable__link Справка для работы и учебы 086/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 800

            .show-more
                a(href="#") Все справки для учебы

    .refinfo
        .refinfo__column
            .refinfo__title Прочие справки
            .refinfo__img
                img(src="img/ph-4.jpg" width="150" height="150")
            .refinfo__price от 1 200 руб.

        .refinfo__column
            table.reftable
                thead
                    tr
                        th Наименование справки
                        th Цена, руб.
                tbody
                    tr
                        td
                            a(href="#").reftable__link Справка о профпригодности + паспорт здоровья 302Н
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 1 800
                    tr
                        td
                            a(href="#").reftable__link Медицинская справка для госслужбы 001-ГС/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 500
                    tr
                        td
                            a(href="#").reftable__link Медицинская справка для работы с гостайной (форма 989н)
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 800
                    tr
                        td
                            a(href="#").reftable__link Справка для работы и учебы 086/У
                        td
                            .reftable__priceblock
                                .reftable__mob Цена, руб.
                                .reftable__price 2 800

            .show-more
                a(href="#") Все справки для учебы

.advantages
    h2.cont-title Преимущества
    .advgallery.swiper-container
        .swiper-wrapper
            .swiper-slide 
                .advgallery__item
                    .advgallery__icon
                        img(src="img/slide-1.png" width="100" height="100")
                    .advgallery__article Более 20 лет опыта

            .swiper-slide 
                .advgallery__item
                    .advgallery__icon
                        img(src="img/slide-2.png" width="100" height="100")
                    .advgallery__article Работа без выходных и праздничных дней

            .swiper-slide 
                .advgallery__item
                    .advgallery__icon
                        img(src="img/slide-3.png" width="100" height="100")
                    .advgallery__article Удобное расположение клиник

            .swiper-slide 
                .advgallery__item
                    .advgallery__icon
                        img(src="img/slide-4.png" width="100" height="100")
                    .advgallery__article Современный диагностический комплекс

            .swiper-slide 
                .advgallery__item
                    .advgallery__icon
                        img(src="img/slide-5.png" width="100" height="100")
                    .advgallery__article Проводим осмотры на выезде

        .swiper-pagination

        .swiper-button-next
        .swiper-button-prev

.aboutrefs.container
    .aboutrefs__column
        .aboutrefs__img
            img(src="img/doc.jpg")

    .aboutrefs__column
        h2.cont-title Медицинские справки для всех
        .cont-text
            p Медицинская справка является официальным документом, содержащим краткую информацию о состоянии здоровья человека, в том числе сведения о перенесённых заболеваниях и прививках. Мед справки необходимы при поступлении на работу или учебу, для посещения бассейна и спортивных секций, для получения или замены водительского удостоверения и ещё в целом ряде случаев.
            p Выдаются такие справки в медицинских учреждениях после прохождения врачебной комиссии. Чаще всего это поликлиники по месту жительства, хотя в последнее время данная услуга стала весьма востребованной в коммерческих клиниках. Документ оформляется на бланках установленного образца, его подлинность подтверждается печатью врача и штампом учреждения.

        button(type="button").btngreen Оформить медсправку

.priceinfo
    h2.cont-title Цены

    table.pricetable
        thead 
            tr
                th Наименование справки
                th № формы
                th Время оформления
                th Стоимость
                th Онлайн запись
        tbody 
            tr
                td 
                    .pricetable__link Справка для работы и учебы 086/У
                td
                    .pricetable__hidden № формы
                    .pricetable__txt 302-Н
                td
                    .pricetable__hidden Время оформления
                    .pricetable__txt от 30 мин
                td
                    .pricetable__hidden Стоимость
                    .pricetable__txt 2500 руб.
                td
                    .pricetable__item
                        .pricetable__check
                            img(src="img/checked.png" width="24" height="24")

                        .pricetable__button
                            button(type="button").btngreen Оформить медсправку

            tr
                td 
                    .pricetable__link Медицинская справка для госслужбы 001-ГС/У
                td
                    .pricetable__hidden № формы
                    .pricetable__txt 003-В/у
                td
                    .pricetable__hidden Время оформления
                    .pricetable__txt от 30 мин
                td
                    .pricetable__hidden Стоимость
                    .pricetable__txt 1200 руб.
                td
                    .pricetable__item
                        .pricetable__check
                            img(src="img/checked.png" width="24" height="24")

                        .pricetable__button
                            button(type="button").btngreen Оформить медсправку

            tr
                td 
                    .pricetable__link Медицинская справка для работы с гостайной (форма 989н)
                td
                    .pricetable__hidden № формы
                    .pricetable__txt 302-Н
                td
                    .pricetable__hidden Время оформления
                    .pricetable__txt от 30 мин
                td
                    .pricetable__hidden Стоимость
                    .pricetable__txt 1200 руб.
                td
                    .pricetable__item
                        .pricetable__check
                            img(src="img/checked.png" width="24" height="24")

                        .pricetable__button
                            button(type="button").btngreen Оформить медсправку

            tr
                td 
                    .pricetable__link Справка для работы и учебы 086/У
                td
                    .pricetable__hidden № формы
                    .pricetable__txt 302-Н
                td
                    .pricetable__hidden Время оформления
                    .pricetable__txt от 30 мин
                td
                    .pricetable__hidden Стоимость
                    .pricetable__txt 800 руб.
                td
                    .pricetable__item
                        .pricetable__check
                            img(src="img/checked.png" width="24" height="24")

                        .pricetable__button
                            button(type="button").btngreen Оформить медсправку

.allrefs.container
    h2.cont-title Все медицинские справки

    ul.allreflist
        li
            a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)
        li
            a(href="#") Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb (003-в/у)
        li
            a(href="#") Справка для международных водительских прав
        li
            a(href="#") ЭЭГ (электроэнцефалограмма головного мозга) в ГИБДД
        li
            a(href="#") Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb (003-в/у)
        li
            a(href="#") Справка для международных водительских прав
        li
            a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)
        li
            a(href="#") Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb (003-в/у)
        li
            a(href="#") Справка для международных водительских прав

.formblock
    .formblock__column
        .formblock__img
            img(src="img/docs.png")

    .formblock__column 
        form.formloan(action="#")
            .formloan__title Отправьте заявку - любая справка через 30 минут!

            .formloan__top
                input(type="text" placeholder="Ваше имя").inp.inp_name
                input(type="text" placeholder="Контактный телефон").inp.inp_phone

                .selectform
                    select
                        option Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)
                        option Test 1
                        option Test 2

                .selectform
                    select
                        option Выберите ближайший филиал
                        option Test 1
                        option Test 2

            .formloan__bottom
                button(type="button").formloan__btn Отправить заявку

                .privacy Нажимая на кнопку «Отправить заявку», вы принимаете условия 
                    a(href="#") передачи и обработки информации

.ourlisence.container
    h2.cont-title Наши лицензии

    .ourlisence-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .ourlisence-slider__img
                    img(src="img/lis.jpg")

            .swiper-slide
                .ourlisence-slider__img
                    img(src="img/lis.jpg")

            .swiper-slide
                .ourlisence-slider__img
                    img(src="img/lis.jpg")

            .swiper-slide
                .ourlisence-slider__img
                    img(src="img/lis.jpg")

            .swiper-slide
                .ourlisence-slider__img
                    img(src="img/lis.jpg")

            .swiper-slide
                .ourlisence-slider__img
                    img(src="img/lis.jpg")

        .swiper-pagination

        .swiper-button-next
        .swiper-button-prev




