.header
    .header__top
        .container
            .ourexp Осуществляем медицинскую деятельность с 1996 г
            ul.head-nav.head-nav_desc
                li
                    a(href="#") О компании
                li
                    a(href="#") Цены
                li
                    a(href="#") Наши услуги
                li
                    a(href="#") Лицензии
                li
                    a(href="#") Контакты

            button(type="button").burger

    .header__middle.container
        .header__column
            .logo.logo_desc
                .logo__img
                    img(src="img/logo.png" width="72" height="74")
                .logo__article
                    .logo__name MEDСПРАВКИ
                    .logo__sub-name медицинские справки

        .header__column
            .lissence
                .lissence__img 
                    img(src="img/piece.png" width="60" height="60")
                .lissence__article Лицензия департамента<br> здравоохранения города Москвы

        .header__column
            .centerscount
                .centerscount__icon 
                    img(src="img/local.png" width="24" height="24") 
                .centerscount__article 25 медицинских центров

        .header__column
            .worktime
                .worktime__icon
                    img(src="img/calendar.png" width="50" height="50")
                ul.worktime__about
                    li Время работы колл-центра:
                    li Пн-Пт: с 9:00 до 21:00
                    li Сб-Вс: с 9:00 до 20:00

        .header__column
            .phonelink.header__phone
                a(href="tel:74992291133") +7 (499) 229-11-33 
                .phonelink__article Единый номер для записи


    .header__bottom
        .container
            .header__column
                button(type="button").menubtn

            .header__column
                ul.headlinks.headlinks_desc
                    li
                        .headlinks__icon
                            img(src="img/m-icon-1.png" width="40" height="40")
                        a(href="#") Медицинские справки
                    li
                        .headlinks__icon
                            img(src="img/m-icon-2.png" width="40" height="40")
                        a(href="#") Медкнижки
                    li
                        .headlinks__icon
                            img(src="img/m-icon-3.png" width="40" height="40")
                        a(href="#") Профосмотры
                    li
                        .headlinks__icon
                            img(src="img/m-icon-4.png" width="40" height="40")
                        a(href="#") Диагностика
                    li
                        .headlinks__icon
                            img(src="img/m-icon-5.png" width="40" height="40")
                        a(href="#") Для организаций
                    li
                        .headlinks__icon
                            img(src="img/m-icon-6.png" width="40" height="40")
                        a(href="#") Тест на COVID-19

.headermob
    .headermob__logo
        img(src="img/logo.png" width="40" height="41")

    .logoarticle
        .logoarticle__name MEDСПРАВКИ
        .logoarticle__sub-name медицинские справки

    a(href="tel:74992291133").phonemob
        img(src="img/phone-green.png" width="34" height="34")

.dropdown-mob
    ul.headlinks.headlinks_mob
        li
            .headlinks__icon
                img(src="img/m-icon-1.png" width="40" height="40")
            a(href="#") Медицинские справки
        li
            .headlinks__icon
                img(src="img/m-icon-2.png" width="40" height="40")
            a(href="#") Медкнижки
        li
            .headlinks__icon
                img(src="img/m-icon-3.png" width="40" height="40")
            a(href="#") Профосмотры
        li
            .headlinks__icon
                img(src="img/m-icon-4.png" width="40" height="40")
            a(href="#") Диагностика
        li
            .headlinks__icon
                img(src="img/m-icon-5.png" width="40" height="40")
            a(href="#") Для организаций
        li
            .headlinks__icon
                img(src="img/m-icon-6.png" width="40" height="40")
            a(href="#") Тест на COVID-19

    ul.head-nav.head-nav_mob
        li
            a(href="#") О компании
        li
            a(href="#") Цены
        li
            a(href="#") Наши услуги
        li
            a(href="#") Лицензии
        li
            a(href="#") Контакты

    button(type="button").btngreen Оформить медсправку

    .phonelink.phonelink_mob
        a(href="tel:74992291133") +7 (499) 229-11-33 
        .phonelink__article Единый номер для записи

.dropdowndesc
    .container
        .dropdowndesc__item
            .dropdowndesc__title Медсправки для ГИБДД

            ul.reference-list
                li
                    a(href="#") Медсправка для категории А, В 003в/у
                li
                    a(href="#") Справка для категории А, В + нарколог и психиатр 003в/у
                li
                    a(href="#") Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у

        .dropdowndesc__item
            .dropdowndesc__title Медсправки для работы

            ul.reference-list
                li
                    a(href="#") Справка (заключение) о профпригодности по приказу 302н
                li
                    a(href="#") Медицинская справка для госслужбы 001-ГС/у
                li
                    a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу
                li
                    a(href="#") Больничные листы

        .dropdowndesc__item
            .dropdowndesc__title Медсправки для учебы

            ul.reference-list
                li
                    a(href="#") Справка о временной нетрудоспособности учащихся 095/у
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89
                li
                    a(href="#") Освобождение от физкультуры

        .dropdowndesc__item
            .dropdowndesc__title Популярные медсправки

            ul.reference-list
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89
                li
                    a(href="#") Медсправка на оружие
                li
                    a(href="#") Освобождение от физкультуры

.adressblock
    .container
        .adress-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .adress-slider__item
                        .adress-slider__img.adress-slider__img-red
                            img(src="img/metro-icon.png" width="24" height="24")
                        .adress-slider__article
                            .adress-slider__link
                                a(href="#") Бульвар Рокоссовского
                            .adress-slider__street ул. Ивантеевская
                            .adress-slider__worktime Пн - Вс c 9:00 до 20:00

                .swiper-slide
                    .adress-slider__item
                        .adress-slider__img.adress-slider__img-green
                            img(src="img/metro-icon.png" width="24" height="24")
                        .adress-slider__article
                            .adress-slider__link
                                a(href="#") Братиславская
                            .adress-slider__street ул. Братиславская
                            .adress-slider__worktime Пн - Вс c 9:00 до 20:00

                .swiper-slide
                    .adress-slider__item
                        .adress-slider__img.adress-slider__img-blue
                            img(src="img/metro-icon.png" width="24" height="24")
                        .adress-slider__article
                            .adress-slider__link
                                a(href="#") Первомайская
                            .adress-slider__street Измайловском бульвар
                            .adress-slider__worktime Пн - Вс c 9:00 до 20:00

                .swiper-slide
                    .adress-slider__item
                        .adress-slider__img.adress-slider__img-orange
                            img(src="img/metro-icon.png" width="24" height="24")
                        .adress-slider__article
                            .adress-slider__link
                                a(href="#") Авиамоторная
                            .adress-slider__street ул. Подъемная
                            .adress-slider__worktime Пн - Вс c 9:00 до 20:00

                .swiper-slide
                    .adress-slider__item
                        .adress-slider__img.adress-slider__img-blue
                            img(src="img/metro-icon.png" width="24" height="24")
                        .adress-slider__article
                            .adress-slider__link
                                a(href="#") Жулебино
                            .adress-slider__street ул. Генерала Кузнецова
                            .adress-slider__worktime Пн - Вс c 9:00 до 20:00

                .swiper-slide
                    .adress-slider__item
                        .adress-slider__img.adress-slider__img-pink
                            img(src="img/metro-icon.png" width="24" height="24")
                        .adress-slider__article
                            .adress-slider__link
                                a(href="#") Каховская
                            .adress-slider__street ул. Малая Юшуньская
                            .adress-slider__worktime Пн - Вс c 9:00 до 20:00

                .swiper-slide
                    .adress-slider__item
                        .adress-slider__img.adress-slider__img-green
                            img(src="img/metro-icon.png" width="24" height="24")
                        .adress-slider__article
                            .adress-slider__link
                                a(href="#") Орехово
                            .adress-slider__street ул. Маршала Захарова
                            .adress-slider__worktime Пн - Вс c 9:00 до 20:00

            .swiper-button-next
            .swiper-button-prev      
